<div class="container">
  <footer class="footer">
    <small>
      Copy right &copy; <%= link_to 'Google', 'https://www.google.com.vn' %>
      by <%= link_to 'NHP', 'https://www.linkedin.com/in/nguyenhoangphat' %>
    </small>

    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>